@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.w-30-p {
    width: 30%;
}

.w-70-p {
    width: 70%;
}

.h-30rem {
    height: 30rem;
}